<div class="container">
  <div class="row">
      <h1 class="px-3 mx-auto">welcome to
      <i class="fa-solid fa-rotate"></i><strong>Nothing Wasted</strong>!
      </h1>
      <p>A place to exchange and circulate!!</p>
  </div>
</div>