<div class="container">
  <div class="row">
    <div class="w-100 text center">
      <h1 class="px-3 mx-auto">
        welcome to<br>
        <i class="fa-solid fa-arrows-rotate"></i>
        <strong>Nothing Wasted</strong>!
      </h1>
      <h3>A place to exchange and circulate!</h3>
    </div>
  </div>
</div>